<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.mapper.ManageBaseMapper">
  <resultMap id="BaseResultMap" type="com.practice.po.ManageBase">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link_phone" jdbcType="VARCHAR" property="linkPhone" />
    <result column="tag" jdbcType="BIGINT" property="tag" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="aid" jdbcType="BIGINT" property="aid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="address_coordinate" jdbcType="VARCHAR" property="addressCoordinate" />
    <result column="img_cover" jdbcType="VARCHAR" property="imgCover" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.practice.po.ManageBase">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, link_phone, tag, pid, cid, aid, address, address_coordinate, img_cover, 
    status, delflag, update_time, update_user
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.practice.po.ManageBaseExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from manage_base
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.practice.po.ManageBaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from manage_base
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from manage_base
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from manage_base
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.practice.po.ManageBaseExample">
    delete from manage_base
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.practice.po.ManageBase">
    insert into manage_base (id, name, link_phone, 
      tag, pid, cid, aid, 
      address, address_coordinate, img_cover, 
      status, delflag, update_time, 
      update_user, description)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR}, 
      #{tag,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, #{aid,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{addressCoordinate,jdbcType=VARCHAR}, #{imgCover,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{delflag,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=BIGINT}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.practice.po.ManageBase">
    insert into manage_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="linkPhone != null">
        link_phone,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="addressCoordinate != null">
        address_coordinate,
      </if>
      <if test="imgCover != null">
        img_cover,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressCoordinate != null">
        #{addressCoordinate,jdbcType=VARCHAR},
      </if>
      <if test="imgCover != null">
        #{imgCover,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.practice.po.ManageBaseExample" resultType="java.lang.Long">
    select count(*) from manage_base
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update manage_base
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.linkPhone != null">
        link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=BIGINT},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=BIGINT},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
      <if test="record.aid != null">
        aid = #{record.aid,jdbcType=BIGINT},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.addressCoordinate != null">
        address_coordinate = #{record.addressCoordinate,jdbcType=VARCHAR},
      </if>
      <if test="record.imgCover != null">
        img_cover = #{record.imgCover,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update manage_base
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=BIGINT},
      pid = #{record.pid,jdbcType=BIGINT},
      cid = #{record.cid,jdbcType=BIGINT},
      aid = #{record.aid,jdbcType=BIGINT},
      address = #{record.address,jdbcType=VARCHAR},
      address_coordinate = #{record.addressCoordinate,jdbcType=VARCHAR},
      img_cover = #{record.imgCover,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      delflag = #{record.delflag,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update manage_base
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=BIGINT},
      pid = #{record.pid,jdbcType=BIGINT},
      cid = #{record.cid,jdbcType=BIGINT},
      aid = #{record.aid,jdbcType=BIGINT},
      address = #{record.address,jdbcType=VARCHAR},
      address_coordinate = #{record.addressCoordinate,jdbcType=VARCHAR},
      img_cover = #{record.imgCover,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      delflag = #{record.delflag,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.practice.po.ManageBase">
    update manage_base
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressCoordinate != null">
        address_coordinate = #{addressCoordinate,jdbcType=VARCHAR},
      </if>
      <if test="imgCover != null">
        img_cover = #{imgCover,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.practice.po.ManageBase">
    update manage_base
    set name = #{name,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=BIGINT},
      pid = #{pid,jdbcType=BIGINT},
      cid = #{cid,jdbcType=BIGINT},
      aid = #{aid,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      address_coordinate = #{addressCoordinate,jdbcType=VARCHAR},
      img_cover = #{imgCover,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.practice.po.ManageBase">
    update manage_base
    set name = #{name,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=BIGINT},
      pid = #{pid,jdbcType=BIGINT},
      cid = #{cid,jdbcType=BIGINT},
      aid = #{aid,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      address_coordinate = #{addressCoordinate,jdbcType=VARCHAR},
      img_cover = #{imgCover,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>