<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">


    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="core_provider" />

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <!--<dubbo:registry address="multicast://224.5.6.7:1234" /> -->

    <!-- 使用zookeeper注册中心暴露服务地址 即zookeeper的所在服务器ip地址和端口号 -->
    <dubbo:registry address="${DUBBO.REGISTRY.ADDRESS}" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" host="192.168.99.162" port="20880"/>

    <dubbo:provider timeout="30000" />
    <!-- 声明需要暴露的服务接口 -->

    <!--loginService-->
    <bean id="loginService" class="com.practice.service.impl.LoginServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.LoginService" ref="loginService"></dubbo:service>

    <!--userService-->
    <bean id="userService" class="com.practice.service.impl.UserServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.UserService" ref="userService"></dubbo:service>

    <!--versionService-->
    <bean id="versionService" class="com.practice.service.impl.VersionServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.VersionService" ref="versionService"></dubbo:service>

    <!--dictionaryService-->
    <bean id="dictionaryService" class="com.practice.service.impl.DictionaryServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.DictionaryService" ref="dictionaryService"></dubbo:service>

    <!--menuService-->
    <bean id="menuService" class="com.practice.service.impl.MenuServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.MenuService" ref="menuService"></dubbo:service>

    <!--roleService-->
    <bean id="roleService" class="com.practice.service.impl.RoleServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.RoleService" ref="roleService"></dubbo:service>

    <!--permissionService-->
    <bean id="permissionService" class="com.practice.service.impl.PermissionServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.PermissionService" ref="permissionService"></dubbo:service>

    <!--activityService-->
    <bean id="activityService" class="com.practice.service.impl.ActivityServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.ActivityService" ref="activityService"></dubbo:service>

    <!--eduService-->
    <bean id="eduService" class="com.practice.service.impl.EduServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.EduService" ref="eduService"></dubbo:service>

    <!--schoolService-->
    <bean id="schoolService" class="com.practice.service.impl.SchoolServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.SchoolService" ref="schoolService"></dubbo:service>

    <!--areaService-->
    <bean id="areaService" class="com.practice.service.impl.AreaServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.AreaService" ref="areaService"></dubbo:service>

    <!--basesService-->
    <bean id="basesService" class="com.practice.service.impl.BasesServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.BasesService" ref="basesService"></dubbo:service>

    <!--personnelService-->
    <bean id="personnelService" class="com.practice.service.impl.PersonnelServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.PersonnelService" ref="personnelService"></dubbo:service>

    <!--smsService-->
    <bean id="smsService" class="com.practice.service.impl.SmsServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.SmsService" ref="smsService"></dubbo:service>

    <!--paramService-->
    <bean id="paramService" class="com.practice.service.impl.ParamServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.ParamService" ref="paramService"></dubbo:service>

    <!--runService-->
    <bean id="runService" class="com.practice.service.impl.RunServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.RunService" ref="runService"></dubbo:service>

    <!--solrService-->
    <bean id="searchService" class="com.practice.service.impl.SearchServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.SearchService" ref="searchService"></dubbo:service>

    <!--enrollService-->
    <bean id="enrollService" class="com.practice.service.impl.EnrollServiceImpl"></bean>
    <dubbo:service interface="com.practice.service.EnrollService" ref="enrollService"></dubbo:service>

</beans>