<?xml version="1.0" encoding="UTF-8"?>
<!-- 添加 DUBBO SCHEMA -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 应用名 -->
    <dubbo:application name="consumer-app"/>
    <!-- 连接到哪个注册中心 -->
    <dubbo:registry address="${DUBBO.REGISTRY.ADDRESS}"/>
    <!-- 消费方用什么协议获取服务（用dubbo协议在20880端口暴露服务） -->
    <dubbo:protocol port="20880" />

    <dubbo:consumer timeout="30000" />

    <!-- 调用的接口 -->
    <dubbo:reference id="loginService" interface="com.practice.service.LoginService"/>

    <dubbo:reference id="userService" interface="com.practice.service.UserService"/>

    <dubbo:reference id="schoolService" interface="com.practice.service.SchoolService"/>

    <dubbo:reference id="areaService" interface="com.practice.service.AreaService"/>

    <dubbo:reference id="dictionaryService" interface="com.practice.service.DictionaryService"/>

    <dubbo:reference id="personnelService" interface="com.practice.service.PersonnelService"/>

    <dubbo:reference id="smsService" interface="com.practice.service.SmsService"/>

    <dubbo:reference id="runService" interface="com.practice.service.RunService"/>

    <dubbo:reference id="searchService" interface="com.practice.service.SearchService"/>

    <dubbo:reference id="activityService" interface="com.practice.service.ActivityService"/>

    <dubbo:reference id="basesService" interface="com.practice.service.BasesService"/>

    <dubbo:reference id="enrollService" interface="com.practice.service.EnrollService"/>

    <dubbo:reference id="orderService" interface="com.practice.service.OrderService"/>

    <dubbo:reference id="payService" interface="com.practice.service.PayService"/>

    <dubbo:reference id="messageService" interface="com.practice.service.MessageService"/>

    <dubbo:reference id="taskService" interface="com.practice.service.TaskService"/>

</beans>